{% extends 'base-dashboard.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-12 col-md-6 mb-2">
            <div class="card">
                <div class="card-header">
                    <p class="mt-2 text-center mx-auto text-dark h3"><b>Our Services</b></p>
                </div>
                <div class="card-body">
                    <div class="col-lg-12 d-none d-lg-block text-center mb-4">
                        <img src="{% static 'img/photo2.png' %}" width="550" class="img thumbnail text-center" alt="">
                    </div>
                    <p class="text text-black text-justify h4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit modi soluta id, rerum odio reprehenderit dolorem harum delectus possimus suscipit fuga consequuntur illo saepe accusantium officiis voluptatibus quia laudantium ex.</p>
                    <p class="text text-black text-justify h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores omnis magnam, nobis commodi libero nisi delectus, exercitationem nostrum fuga aspernatur molestias voluptatem eos cumque. Reprehenderit dolor excepturi molestiae voluptatem veniam.</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}